.row {
    margin-left: 0;
    margin-right: 0;
}

.checkbox, .radio {
    margin-left: 1em;
}

.signature {
    border: 0;
    border-bottom: 1px dashed #777;
    border-radius: 0;
    box-shadow: none;
}